title = "blog-detail"
url = "/blog/:slug"
layout = "main"
is_hidden = 0

[newsPost]
slug = "{{ :slug }}"
==
{% set post = newsPost.post %}

{% put head %}
{% partial 'head' title=post.title %}

<meta name="description"
  content="{{ post.introductory|length > 60 ? post.introductory|slice(0, 60)|striptags ~ '…' : post.introductory|striptags }}">
<link rel="canonical" href="{{ post.url }}">
<link rel="image_src" href="{{ post.image|media }}" type="image/png" />
<meta name="keywords"
  content="{{ post.category.name}}, {% for tag in post.tags %}{{ tag }}{% if not loop.last %},{% endif %} {% endfor %}">


<!-- Facebook Meta Tags -->
<meta property="og:title" content="{{ post.title }} | Fenn-CS" />
<meta property="og:type" content="article" />
<meta property="og:description"
  content="{{ post.introductory|length > 100 ? post.introductory|slice(0, 100)|striptags~ '…' : post.introductory|striptags}}" />
<meta property="og:image" content="{{ post.image|media }}" />

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="Fenn-CS">
<meta name="twitter:title" content="{{ post.title }} | Fenn-CS">
<meta name="twitter:description"
  content="{{ post.introductory|length > 60 ? post.introductory|slice(0, 60)|striptags~ '…' : post.introductory|striptags}}">
<meta name="twitter:creator" content="{{ post.user.getFullNameAttribute() }}">
<meta name="twitter:image" content="{{ post.image|media }}">
{% endput %}

<!--/ Intro Skew Star /-->
<div class="intro intro-single route bg-image" style="background-image: url(img/overlay-bg.jpg)">
  <div class="overlay-mf"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <h2 class="intro-title mb-4"> {{ post.title }} </h2>
        <ol class="breadcrumb d-flex justify-content-center">
          <li class="breadcrumb-item">
            <a href="#">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">{{ post.category.name }}</a>
          </li>

        </ol>
      </div>
    </div>
  </div>
</div>
<!--/ Intro Skew End /-->

<!--/ Section Blog-Single Star /-->
<section class="blog-wrapper sect-pt4" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="post-box">
          <div class="post-thumb">
            <img src="{{ post.image|media }}" class="img-fluid" alt="">
          </div>
          <div class="post-meta">
            <h1 class="article-title">{{ post.title }}</h1>
            <ul>
              <li>
                <span class="ion-ios-person"></span>
                <a href="#">{{ post.user.getFullNameAttribute() }}</a>
              </li>
              <li>
                <span class="ion-pricetag"></span>
                <a href="#">{{ post.category.name }}</a>
              </li>
              <!--      <li>
                  <span class="ion-chatbox"></span>
                  <a href="#">14</a>
                </li> -->
            </ul>
          </div>
          <div class="article-content">
            {{ post.introductory|raw }}
            {{ post.content|raw }}
          </div>
        </div>


      </div>
      <div class="col-md-4">
        <div class="widget-sidebar widget-tags">
          <h5 class="sidebar-title">Tags</h5>
          <div class="sidebar-content">
            <ul>
              <li>
                <a href="#">Web.</a>
              </li>
              <li>
                <a href="#">Design.</a>
              </li>
              <li>
                <a href="#">Travel.</a>
              </li>
              <li>
                <a href="#">Photoshop</a>
              </li>
              <li>
                <a href="#">Corel Draw</a>
              </li>
              <li>
                <a href="#">JavaScript</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Section Blog-Single End /-->

<!--/ Section Contact-Footer Star /-->
<section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(img/overlay-bg.jpg)">
  <div class="overlay-mf"></div>